.Intro {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.background-Secundar {
  display: none;
}

.background-Primar{
  margin: 5% 0 0 0;
}


.contactInfoHome {
  position: absolute;
  top: 50px;
  bottom: 50px;
  margin: 15% 4% 5% 8%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 2% 4% 3% 4%;
  width: 600px;
  background-color: rgba(217, 241, 250, 1); 
  box-shadow: 8px 8px 16px rgba(30, 30, 30, 0.3);
  height: 270px;
}

.titlu {
  margin: 0 0 3% 0;
}

.titluShow {
  margin: 0 0 3% 0;
  display: flex;
  flex-direction: column;
}

.btn-all {
  margin:-15px 0 0 0;
}

.btn-cazuistica {
  margin: -27px 0 0 40%;
}

.btn-start-cazuistica {
  padding: 10px;
  background-color: #ffffff;
  border-color: black !important;
  border-radius: 5px;
  cursor: pointer;
  color: black !important;
  font-size: smaller;
  border: 2px solid white;
}

.btn-start {
  margin-right: 10px;
  padding: 10px;
  background-color: #282C34;
  border-color: black !important;
  border-radius: 5px;
  cursor: pointer;
  color: white !important;
  font-size: smaller;
  border: 2px solid black;
}

.activeNavHomeBtn {
  color: black;
}

.btn-start:hover {
  color: white;
  text-decoration: none;
  opacity: 0.85;
  transition-duration: 0.8s;
}

.btn-start-cazuistica:hover {
  color: white;
  text-decoration: none;
  opacity: 0.85;
  transition-duration: 0.8s;
}

.btn-resume {
  margin-right: 10px;
  padding: 10px;
  background-color: #ffffff;
  border-color: black !important;
  border-radius: 5px;
  cursor: pointer;
  font-size: smaller;
  border: 2px solid black;
}

.btn-resume {
  text-decoration: none;
  color: #282C34;
}

.btn-resume:hover{
  background-color: #282c34;
  color: white;
  text-decoration: none;
  transition-duration: 0.8s;
}

.contactName {
  display: flex;
  flex-direction: row;
}

.contactLogo {
  width: 75px;
  height: 70px;
  border-right: 2px solid hsla(190, 57%, 70%, 0.5);
  margin-right: 10px;
  padding-right: 15px;
}

@media screen and (max-width: 1200px) {

  .contactInfoHome {
    width: 45%;
    height: 250px;
  }

  .btn-start-cazuistica{
    margin-right: 20px;
  }
  
}

@media screen and (max-width: 1085px) {

  .contactInfoHome {
    width: 45%;
    height: 250px;
  }

  .contactInfoHome h1 {
    font-size: 1.75rem;
  }

  .contactInfoHome p {
    font-size: .8em;
  }

  .btn-all {
    margin:-10px 0 0 0;
  }

  .btn-start-cazuistica{
    margin-left: 13%;
  }
  
}

@media screen and (max-width: 950px) {

  .contactInfoHome {
    width: 50%;
    height: 230px;
  }

  .contactInfoHome h1 {
    font-size: 1.5rem;
  }

  .contactInfoHome p {
    font-size: .8em;
  }

  .btn-all {
    margin:-5px 0 0 0;
    font-size: small;
  }

  .btn-cazuistica {
    margin-top: -19px;
    font-size: small;
  }

}

@media screen and (max-width: 650px) {

  .Intro {
    margin: 20% 0% 5% 0%;
    padding: 2% 5% 5% 5%;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .continutForm {
    display: flex;
    flex-direction: column;
    
  }

  .contactInfoHome {
    width: auto;
    margin: -9% -5.6% 5% -6%;
    position: relative;
    border-radius: 0;
    background-color: rgb(255, 255, 255); 
    height: 210px;
  }

  .background-Secundar {
    display: block;
    margin-top: 12.5%;
  }

  .background-Secundar img {
    border: solid 1px rgb(167,219,232);
  }

  .background-Primar {
    display: none;
  }


}
@media screen and (max-width: 320px) {

  .btn-start {
    font-size: x-small;
  }

  .btn-start-cazuistica{
    font-size: x-small;
    margin-left: 13%;
  }
}