.continutFormFrm {
  display: flex;
  flex-direction: row;
  margin: -5% 0 0;
  padding: 0;
}

.formBodyFrm {
  margin: 7% 4% 5% 4%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 2% 4% 3% 4%;
  width: 50% !important;
  /* background-color: rgba(217, 241, 250, 0.2); */
  box-shadow: 8px 8px 16px rgba(30, 30, 30, 0.3);
}

.contactInfoFormFrm {
  margin: 7% 4% 5% 4%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 2% 4% 3% 4%;
  width: 50%;
  /* background-color: rgba(217, 241, 250, 0.2); */
  box-shadow: 8px 8px 16px rgba(30, 30, 30, 0.3);
  height: 20%;
}

.titluFrm {
  margin: 0 0 3% 0;
}


.titluShowFrm {
  margin: 0 0 3% 0;
  display: flex;
  flex-direction: column;
}

.send_BtnFrm {
  background-color: #282C34 !important;
  border-color: black !important;
  border: 2px solid black;
}

.send_BtnFrm:hover {
  opacity: 0.85;
  transition-duration: 0.8s;
}

.contactNameFrm {
  display: flex;
  flex-direction: row;
}

.contactLogoFrm {
  width: 70px;
  height: 75px;
  border-right: 2px solid rgba(0, 0, 0, 0.096);
  margin-right: 10px;
}

.titluServiciiContact {
  margin-top: 10% !important;
  text-align: center;
}

.backgroundLineServiciiContact{
  margin: 0 50% !important;
  margin-bottom: 2.5% !important;
  width: 100px;
  height: 5px;
  background-color: rgb(199,233,255);
}

@media screen and (max-width: 950px) {

  .formBodyFrm {
    margin: 10% 5% 5% 5%;
    padding: 2% 5% 5% 5%;
    width: 90% !important;
  }

  .continutFormFrm {
    display: flex;
    flex-direction: column;
    
  }

  .contactInfoFormFrm {
    width: 90%;
    margin: 2% 5% 5% 5%;
  }

  .titluServiciiContact {
    margin-top: 20% !important;
  }

}

@media screen and (max-width: 550px) {

  .formBodyFrm {
    margin: 10% 5% 5% 5%;
    padding: 2% 5% 5% 5%;
    width: 90% !important;

  }

  .continutFormFrm {
    display: flex;
    flex-direction: column;
    
  }

  .contactInfoFormFrm {
    width: 90%;
  }

  .titluServiciiContact {
    margin-top: 30% !important;
    text-align: center;
  }
 

}