.titluArticole {
  margin-top: 10% !important;
  text-align: center;
}

.backgroundLineArticole {
  margin: 0 50% !important;
  margin-bottom: 2.5% !important;
  width: 100px;
  height: 5px;
  background-color: rgb(199, 233, 255);
}

.title-Card-title {
  font-weight: bolder !important;
}

.cardStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2.5% 2.5% 0 2.5%;
  background-color: rgb(240, 240, 240);
}

.card-Container {
  margin: 0 2.5%;
}
.borderFix {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.link-articole-section {
  color: white;
  text-decoration: none;
}

.link-articole {
  text-decoration: none;
}

.link-articole-section:hover {
  text-decoration: none !important;
  color: white;
  opacity: 0.85;
}

@media screen and (max-width: 650px) {
  .titluArticole {
    margin-top: 30% !important;
  }

  .cardStyle {
    display: flex;
    flex-direction: column;
    padding: 2.5% 2.5% 0 2.5%;
  }
}
