
.Title{
  margin-left: 5%;
  font-size: 35px;
}

.border-bottom{
  border-bottom: 2px solid rgb(199,233,255)!important;
  width: 50px;
  height: 2px;
}




@media screen and (max-width: 900px) {
  
}

@media screen and (max-width: 650px) {


  

}