.titluArticoleScrise{
  margin-top: 10% !important;
  text-align: center;
}

.backgroundLineArticoleScrise{
  margin: 0 50% !important;
  margin-bottom: 2.5% !important;
  width: 100px;
  height: 5px;
  background-color: rgb(199,233,255);
}

.text-articole {
  padding: 5% 25%;
  text-align: justify;
  background-color:rgb(240,240,240) ;
}

@media screen and (max-width: 1200px) {

  .text-articole {
    padding: 5% 12.5%;
  }

  
}


@media screen and (max-width: 650px) {

  .titluArticoleScrise{
    margin-top: 30% 5% !important;
  }

  .text-articole {
    padding: 5% 7.5%;
  }
  
}