@keyframes myanimation {
  0% {
    top: 20px;
  }
  100% {
    top: -20px;
  }
}

.abouttitle {
  margin-left: 5%;
  font-size: 35px;
}

.border-bottom {
  border-bottom: 2px solid #88cfde !important;
  width: 5px;
  height: 2px;
}

.cardSubtitleSection {
  font-size: 20px;
  margin: 2% 0 0 0;
}

.aboutContent {
  display: flex;
  flex-direction: row;
}

.aboutSection {
  width: 750px;
  text-align: justify;
  margin: auto 5%;
}

.profilePhoto img {
  width: 500px;
  margin: 5%;
  border-radius: 10px;
}

.experience {
  padding: 5% 20%;
  background-color: rgb(199, 233, 255);
  text-align: justify;
}

.experience h3 {
  text-align: center;
  margin-bottom: 2.5%;
}

.btn-alls {
  margin: -15px 0 0 0;
  margin-top: 30px !important;
}

.btn-go {
  margin-right: 10px;
  padding: 10px;
  background-color: #282c34;
  border-color: black !important;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: smaller;
  border: 2px solid black;
  text-decoration: none;
}

.btn-go:hover {
  color: white;
  text-decoration: none;
  opacity: 0.85;
  transition-duration: 0.8s;
}

@media screen and (max-width: 900px) {
  .aboutContent {
    width: 100%;
    display: flex;
  }

  .aboutSection {
    width: 95%;
    display: flex;
    text-align: justify;
    flex-wrap: wrap;
    margin: 0 5%;
  }

  .profilePhoto {
    width: auto;
    border-radius: 50%;
    margin: 0 auto;
  }

  .card {
    margin: 2% !important;
    width: 96% !important;
  }
}

@media screen and (max-width: 650px) {
  .aboutContent {
    width: 96%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .aboutSection {
    width: 95%;
    text-align: justify;
    margin: 2% auto;
  }

  .profilePhoto img {
    margin: 0 auto;
  }

  .experience {
    padding: 5% 10% !important;
  }
}
